*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body,html{
    width: 100%;
    height: 100%;

    overflow-x: hidden;
}
/* nav section */
.header-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 100px;
    

}
.header-title{
    font-weight: 700;
    font-size: 24px;
    position: relative;
    top: 80px;
}
.menu{
    position: relative;
    top: 90px;
}
.menu>ul{
    display: flex;
    position: relative;
    right:200px;
    list-style: none;
}
.menu>ul>li{
    font-weight: 600;
    font-size: 16px;
    margin: 0 30px;
}
.fa-solid{
    width: 28px;
    height: 28px;
    position: relative;
    top: 5px;
    margin: 0 10px;
}
/* ---- text/image section --> */
.main-container{
    display: flex;
    position: relative;
    top: 100px;
    
}
.text-container{
    position: relative;
    top: 120px;
}
.text-title{
    position: relative;
    font-weight: 700;
    font-size: 52px;
    left: 80px;
    color: #3A3A3A;

}
.test-des{
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    position: relative;
    left: 80px;
    margin: 16px 0;
}
.text-btn{
    font-weight: 700;
    font-size: 17px;
    color: white;
    background: #E02C6D;
    border-radius: 41px;
    padding:15px;
    position: relative;
    top: 10px;
    left: 80px;
    border: none;
}
.img-container{
    position: relative;
    left: 120px;
    background-image: url('images/Circle\ design.svg');
    right: 100px;
    top: 40px;
    background-size: cover;
}
.img-container img{
     width: 400px;
     height:350px;
     position: relative;
     top: 20px;
}
/* logo section */
.logo-container{
    background-color: rgb(238, 238, 238);  
    position: relative;
    top: 200px;
    border-radius: 10px;
    padding: 40px;

}
.logos{
    position: relative;
    left: 150px;
}
.logos img{
    margin: 0 20px;
}
/* banner section */
.banner-head{
    position: relative;
    top: 20px;

}
.banner-title{
    position: relative;
    top: 200px;
    left: 550px;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}
.banner-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.banner-main{
    width: 350px;
    height: 420px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    position: relative;
    top: 230px;
    left: 50px;
}
.banner-main img{
    width: 300px;
    height: 256px;
    position: relative;
    left: 25px;
    top: 10px;
}
.banner-main h3{
    font-weight: 600;
    font-size: 28px;
    position: relative;
    left: 10px;
    top: 8px;
    
}
.banner-main h4{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    left: 10px;
    top: 8px;
}
.banner-main p{
    color: #787885;
    font-weight: 700;
    font-size: 14px;    
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
    position: relative;
    left: 5px;
    top: 15px;
}
.banner-main .fa-solid{
    color: #FB8200;
    margin-left: -20px;
    position: relative;
    right: -30px;
}
.banner-main span{
    color: #5E6366;
    font-size: 16px;
    position: relative;
    top: 5px;
    left: 140px;
    font-weight: 600;
}
.see{
    position: relative;
    top: 270px;
    left: 1200px;
}
.see a{
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    
    
    color: rgba(224, 44, 109, 0.87);
}
/* last banner & image */
.last-container{
    position: relative;
    top: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.last-container img{
    width: 404px;
    height: 300px; 
    position: relative;
    left: 0px;  
    border-radius: 7px;  
}
.last-text{
    position: relative;
    left: 40px;
}
.last-title{
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}
.last-des{
    font-weight: 700;
    font-size: 16px;
    line-height: 28px; 
    color: #6C6C6C;
}
.text-btn2{

        font-weight: 600;
        font-size: 17px;
        color: white;
        background: #E02C6D;
        border-radius: 7px;
        padding:15px;
        position: relative;
        top: 10px;
        left: -0px;
        border: none;
}
/* footer container */
.footer-container{
    position: relative;
    top: 350px;
    left: 0px;
    background-color: #0A0826;
    text-align: center;
    height: 40vh;

    
    
}
.footer-title, .footer-des, .footer-sub-des{
    color: white;
}
.footer-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;    
    color: #FFFFFF;
    position: relative;
    top: 30px;
}
.footer-des{
    position: relative;
    top: 40px;
}
.footer-sub-des{
    position: relative;
    top: 50px;
}
.footer-container .fa-brands{
    color: white;
    position: relative;
    top: 80px;
    font-size: 30px;
    margin: 0 20px;
}


    
